asgiref==3.11.0
beautifulsoup4==4.14.2
bs4==0.0.2
dj-database-url==3.0.1
Django==5.2.8
dotenv==0.9.9
gunicorn==23.0.0
mysqlclient==2.2.7
packaging==25.0
pillow==12.0.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
soupsieve==2.8
sqlparse==0.5.3
typing_extensions==4.15.0
whitenoise==6.11.0
