{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.css' %}" rel="stylesheet" media="all">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">
    <!-- <link rel="stylesheet" href="{% static 'vendor/material-design-iconic-font/css/material-design-iconic-font.min.css' %}"> -->

    <!-- Vendor CSS-->
<link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
<link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">
   

</head>
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
        <!-- <img src="/static/images/icon/logoj.png" alt="oolAdmin" alt="LOGO" style="width: 200px; height: 70px;"> -->
        <img src="/media/attachments/dew logo.png" alt="Profile"  style="width: 100px; height: 70px;">


        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a href="{% url 'dashboard' %}">
                        <i class="far fa-check-square"></i>Dashboard</a>
                </li>
              
                <li>
                    <a href="{% url 'apply_leaves' %}">

                        <i class="fas fa-table"></i>Leave</a>
                </li>
                <li>
                    <a href="{% url 'punchin_out_view' %}">
                        <i class="far fa-check-square"></i>Time</a>
                </li>
                <li>
                     <a href="{% url 'show_personal_profile_page' %}">

                        <i class="fas fa-calendar-alt"></i>My Info</a>
                </li>
                <li>
                    <a href="{% url 'my_reviews'%}">
                        <i class="fas fa-map-marker-alt"></i>Performance</a>
                </li>

                 <li>
                    <a href="{% url 'directory'%}">
                        <i class="fas fa-map-marker-alt"></i>Directory</a>
                </li>
                
            </ul>
        </nav>
    </div>
</aside>
<body>
 <!-- Jquery JS-->
    <!-- hrms_portal/hrms_portal/static/vendor/jquery-3.2.1.min.js -->
    <script src="/static/vendor/jquery-3.2.1.min.js"></script>
    <script src="/static/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <script src="/static/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <!-- Bootstrap JS-->
    <!-- <script src="/staticvendor/bootstrap-4.1/popper.min.js"></script> -->
    <!-- <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script> -->
    <!-- Vendor JS       -->
    <!-- <script src="vendor/slick/slick.min.js"> -->
    </script>
    <!-- <script src="vendor/wow/wow.min.js"></script> -->
    <script src="/static/vendor/animsition/animsition.min.js"></script>
    <!-- <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"> -->
    </script>
    <!-- <script src="vendor/counter-up/jquery.waypoints.min.js"></script> -->
    <!-- <script src="vendor/counter-up/jquery.counterup.min.js"> -->
    </script>
    <!-- <script src="vendor/circle-progress/circle-progress.min.js"></script> -->
    <!-- <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script> -->
    <!-- <script src="vendor/chartjs/Chart.bundle.min.js"></script> -->
    <script src="/static/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="/static/js/main.js"></script>
    

</body>

</html>